<button onclick="deleteRecipe()">Delete Recipe</button>

<script>
  function deleteRecipe() {
    // Test case: Verify that the deleteRecipe() function is called when the button is clicked
    console.log("deleteRecipe() function called");
  }
</script>